{% extends "auctions/layout.html" %}

{% block body%}
<h1>{{listing_item.title}}</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col col-md-auto">
            <img class="rounded border border-dark img-fluid" src="{{listing_item.urlImage}}" alt="no image">
        </div>
        <div class="col">
          <form action="{% url 'showListing' listing_id=listing_item.id %}" method="post">
            {% csrf_token %}
            <div class="form-group">
              <h3 class="m-1">{{ listing_item.getPrice }}$</h3>
              {% if user.is_authenticated %}
              <small class="form-text text-muted m-1">{{bidcount}} bid(s) so far.{{ bid_message }}</small>
                {{bidform.bid}}
              <button type="submit" class="btn btn-primary m-1">Place Bid</button>
              {% endif %}
            </div>
          </form>
          
        </div>

    </div>
    <div class="row mt-4">
        <h4>Description</h4>
        <article>
           {{listing_item.description}}
        </article>
        <div>
            <small class="form-text text-muted">Date: {{listing_item.startdate}}</small>
        </div>
    </div>
    <div class="row mt-4">
        <h4>Comments</h4>
    </div>
    <div class="row mt-4">
      {% if user.is_authenticated %}
        <form method="post">
          {% csrf_token %}
          <div>
            {{commentform.comment}}
          </div>
          <button type="submit" class="btn btn-primary m-1">Leave Comment</button>
        </form>
      {% endif %}
    </div>


</div>
{% endblock %}


